/* meyerweb css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Source Sans Pro';
	line-height: 1;
    width: 100%;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
    display: block;
}


/* My styles */
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('/assets/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('/assets/source-sans-pro/SourceSansPro-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('/assets/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('/assets/source-sans-pro/SourceSansPro-It.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }

/* -------------------------VARIABLES------------------------------------ */

:root {
    --bittersweet: #FF6565;
    --white: #FFFFFF;
    --black: #071629;
    
}
/* -------------------------BODY------------------------------------ */

body {
    max-width: 1400px;
    height: 700px;
    background: url(assets/headphones_hero_1.jpg) no-repeat center;
    align-items:  center ;
    
}
.container {
  max-width: 100%;
  margin: 0 auto;
}

/* -------------------------NAVBAR------------------------------------ */

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 27.76px;
  max-width: 1100px;
  
 
}
.nav-bar img{
  width: 161px;
  height: 32px;
  margin-left: 200.61px;

}
.nav-bar ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
  width: 255px;
}
.nav-bar ul li {
  margin-left: 30px;
  text-align: center;
  
}
.nav-bar ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 12px;
  width: 61px;
  height: 15px;
  font-family: Source Sans Pro;
  
}
.nav-bar ul li a:hover {
  color: var(--bittersweet);
  cursor: pointer;
}
.nav-bar ul li a:active {
  color: var(--bittersweet);
}


/* ---------------------------Media-query------------------------------------------- */
@media screen and (max-width: 480px) {
  .container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
  }
}
/* ---------------------------Main-Part------------------------------------------- */
main-part {
    display: flex;
    justify-content: center;
    margin-right: 220px;
}
.first-page {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  text-align: center;
  align-items: center;
  max-width: 637px;
  height: 313px;
  margin-top: 299px;
  margin-left: 196px;
  color: var(--white);
  
}
.first-page .fp-item1 {
 
  font-size: 32px;
  font-weight: 700px;
  line-height: 40.22px;
  width: 578px;
  margin-left: 56px;
 
}
.first-page .fp-item2 {
  font-size: 16px;
  line-height: 20.11px;
}
button {
  background-color: var(--bittersweet);
  width: 162px;
  height: 44px;
  border-radius: 22px;
  border: none;
  color: var(--white);
  margin-top: 45px;
  margin-left: 22px;
  font-weight: bold;
  font-size: 14px;

}
button:hover {
  opacity: 0.9;
  cursor: pointer;

}
.first-page .fp-item3 {
  line-height: 26px;
  width: 637px;
  margin-left: 29px;
  color: #9c9b9b;
  margin-top: 57px;
  
}
/* ---------------------------What we do------------------------------------------- */
.what-we-do {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#wwd {
  margin-top: 24px;
  font-size: 32px;
  color: var(--black);
  font-weight: bold;
  height: 40px;
}

#wwd-p {
  margin-top: 50px;
  line-height: 25px;
  width: 530px;
  font-size: small;
}

.wwd-section2 {
  /* background-color: #FF6565; */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 52px;
  width: 1000px;
}
.wwd-cards {
  margin-left: auto;
}
.wwd-cards img{
  width: 64.2px;
  height: 65.36px;
  margin: auto;
  
}
.wwd-item1{
  margin-top: 22px;
}
 .wwd-item1 p {
  font-size: small;
  font-weight: bold;
 }

 .wwd-item2 {
  margin-top: 12px;
  margin-bottom: 45px;
 }
 .wwd-item2 p {
  font-size: smaller;
  line-height: 22px;

 }



/* ---------------------------OUR RESULTS------------------------------------------- */
.results {
    max-width: 1400px;
    height: 600px;
    background: url(assets/headphones_hero_2.jpg) no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);

}
.result-item1 {
    margin-top: 68px;
}
.result-item1 p {
    width: 448px;
    font-size: 32px;
}
.result-item2 {
    margin-top: 23px;
    text-align: center;
     

}
.result-item2 p {
    font-size: small;
    line-height: 20px;
    margin-top: 12px;
    width: 490px;
    font-weight: lighter;

}

.result-item3 {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 56px;
    height: 190px;
   
}


.result-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.result-item {
  position: relative;
  margin: 15px;
}
.result-image img {
  width: 210px;
  height: 190px;
  display: block;
}
.result-text {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.result-item p span{
  font-size: 46px;
}
.rt-lastchild {
  font-size: 10px;
  margin-top: 12px;
  
}

/* -----------------CONTACT PAGE--------------------- */
.contact {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.contact h2 {
  width: 200px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 42px;
  margin-bottom: 12px;
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-around;

}
/* .contact form label {
  margin-bottom: 6px;
  font-weight: bold;
  padding-top: 3px;
} */
.contact form input {
  border-style: none;
  padding-top: 32px;
  border-bottom: 1px solid #8d8e8e;
  outline: none;
  width: 300px;

  
}


/* -------------------FOOTER------------------- */
footer {
    background-color: var(--black);
    height: 249px;
}
.footer-container {
    justify-content: center;
}
footer section {
    display: flex;
}
.footer-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--white);
}
.footer-logos img{
    width: 161px;
    height: 32px;
    margin-right: 360px;
    margin-top: 87px;
    padding-right: 89px;
    
}
.icons {
    display: flex;
    margin-left: 29%;
    margin-top: 87px;
    margin-right: 300px;
    
}
.fa-brands {
    padding-right: 22px;
    size: 30px;
   
}
#copyright {
    margin-top: 67px;
    text-align: center;
    color: var(--white);
    font-size: small;

}

