/* meyerweb css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Source Sans Pro';
	  line-height: 1;
    width: 100%;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
    display: block;
}


/* My styles */
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('/css_advanced/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('/css_advanced/source-sans-pro/SourceSansPro-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('/css_advanced/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('/css_advanced/source-sans-pro/SourceSansPro-It.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }

/* ------------------------------BODY---------------------------------- */
body {
  background: url(/assets/Object.png) no-repeat ;
  background-size: contain;
  height: 2093px;
  /* display: flex;
  flex-direction: column; */
 

}
/* ------------------------------NAVBAR---------------------------------- */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1103.41px;
  padding: 2em;
  width: 1103.41px;
  height: 29.46px;
  padding-top: 35.02px;
   
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  width: 234px;
  height: 15px;
  
  
}
.nav-bar ul li {
  
  margin-right: 15px;
  padding-left: 20px;

}
#logo {
  height: 29.46px;
  width: 167.02px;
  padding-left: 171.59px;
}
.nav-bar ul li a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}
/* ------------------------------MAINPART---------------------------------- */

.main-part {
  margin-bottom: 0;
}
.main-part div{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.main-part div h1{
  padding-top: 100px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 120px;
  width: 684px;
  
}
div .emotions {
  display: flex;
  flex-direction: row;
}
div .emotions span {
  font-size: 16px;
  font-weight: 700px;
  height: 20px;
  text-align: center;
  color: #ffffff;
  padding-left: 60px;
  margin-top: 8px;
  margin-right: 8px;

}
/* ------------------------------BUTTON---------------------------------- */
.button {
  border-style: none;
  width: 169px;
  height: 44px;
  color: #ffffff;
  background-color: #C271FF;
  border-radius: 32px;
  box-shadow: 10px 10px 10px #242323;
  margin-top: 36px;
  margin-left: 36px;
  padding-left: 8px;
  align-items: center;
  font-weight: 600px;
  font-size: 14px;
}

/* ------------------------------PROS---------------------------------- */
#learn {
  color: #C271FF;
}


div h2 {
  margin-top: 144px;
  margin-left: 32px;
  font-size: 32px;
  font-weight: 261px;
  height: 40px;
  color: #ffffff;
}
div.pros {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pro-cards {
  color: #ffffff;
  margin-top: 65px;
  margin-bottom: 65px;
  margin-left: 100px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 10px;
}
.pro-cards img {
  height: 90px;
  width: 90px;
}
.bruce {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  
}
.pro-cards h3 {
  margin-bottom: 9px;
  font-size: 18px;

}
/* ------------------------------TESTIMONIALS---------------------------------- */
.testimonial {
  background-color: #C271FF;
  margin-top: -48px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ffffff;
}
.testimonial div {
  padding-top: 95px;
  max-width: 43%;

}
.testimonial div img {
  height: 120px;
  width: 120px;
}
.test-div {
  margin-left: 67px;
  margin-top: 43px;
}

.weather-presenter {
  margin-left: 36px;

}
.test-div h3 {
  margin-top: 49px;
}
.test-div p {
  margin-top: 7px;
}


/* ------------------------------TUTORIAL---------------------------------- */
#tutorials-header {
  text-align: center;
  padding-top: 70px;
  font-weight: 300px;
  font-size: 22px;
}
#popular {
  color: #C271FF;
}
.parent-card {
  position: relative;
 
}

.card-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -95%);
}
.card-child img {
  width: 60px;
  height: 60px;
}
.tutorials{
  display: flex;
  align-items: center;
  width: 75%;
  margin-left: 135px;

 
}
.smile-type {
  margin-top: 60px;
  margin-left: 10px;
  /* width: fit-content; */
}
.card-img {
  width: 234px;
  
}
.smile-type div h3 {
  margin: 12px;
  color: #071629;
  font-weight: bolder;
  font-size: 12px;

}
.smile-type div p {
  width: 242px;
  font-weight: lighter;
  font-size: smaller;
  line-height: 20px;
  margin-bottom: 8px;

}
.card-phillip {
  display: flex;
  align-items: center;
  font-size: 9px;
  color: #C271FF;
}
.card-phillip img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
}
.starz {
  display: flex;
  color: #C271FF;
  margin-top: 9px;
}
.starz p {
  max-width: 32px;
  margin-left: 100px;
}
.last-star {
  color: #D8D8D8;
}
/* ------------------------------FREE MEMBERSHIP---------------------------------- */

.membership {
  background-color: #071629;
  margin-top: 59px;
  color: #ffffff;
  /* justify-items: center; */
}

.membership-info {
  display: flex;
  align-items: center;
  width: 95%;
  margin-left: 21px;
  margin-right: 3px;
}
#membership-header {
  text-align: center;
  padding-top: 54px;
  font-weight: 300px;
  font-size: 22px;
  
}
#free {
  color: #C271FF;
}
.smile-logo {
  margin-left: 109px;
  margin-top: 42px;
  color: #ffffff;
}
.smile-logo img{
  margin: 22px;
  padding-left: 22px ;
}
.smile-logo h3 {
  font-size: 18px;
  margin: 12px;

}

.smile-logo p{
  font-size: 12px;
  line-height: 20px;
}
.membership .button {
  margin-left: 44%;
  margin-top: 79px;
  margin-bottom: 34px;
}
.button:hover{
  background-color: #ffffff28;

}
/* ------------------------------FAQ---------------------------------- */
.faq-head {
  text-align: center;
  padding-top: 12px;
  margin-top: 76px;
  margin-bottom: 76px;
  margin-left: 12px;
  font-size: 60px;
}
.faq {
  column-count: 2;
  column-gap: 12px;
  margin-left: 32px; 
  
}

.faq-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-left: 105px;
  margin-right: 105px;
  }
  .work-header {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bolder;
  }
  .work-body {
    margin-bottom: 60px;
    line-height: 26px;
  }

  /* ------------------------------FOOTER---------------------------------- */
footer {
  background-color: #071629;
  height: 160px;
}
.footer-info {
  display: flex;
  justify-items: center;
  padding-top: 62px;
}
.footer-info img {
  padding-left: 12%;
}
.icons {
  margin-left: 47%;
 
}
.fa-brands {
  color: #ffffff;
  margin-left: 22px;
}
#copyright {
  text-align: center;
  margin-top: 42px;
}